<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/pixi.min.js"></script>

</head>

<body>
    <script>
        //game logic

        let app = new PIXI.Application({ width: window.screen.width, height: window.screen.height });
        document.body.appendChild(app.view);
        let dinoIdel = PIXI.Sprite.from('./assets/gameAssets/dino-idle.png'); 
        dinoIdel.y=260;
        app.stage.addChild(dinoIdel);
        let ground =PIXI.Sprite.from('./assets/gameAssets/ground.png')
        ground.y=327
        app.stage.addChild(ground)
        elapsed=0
        app.ticker.add((delta) => {
            
        });
    </script>
</body>

</html>