<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="./js/pixi.min.js"></script>
  <script src="./js/bump.js"></script>

  <style>
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    canvas {
      display: block;
    }
  </style>
</head>

<body>
  <script>
    //game logic
    let app = new PIXI.Application({ width: window.innerWidth, height: window.innerHeight });
    document.body.appendChild(app.view);
    var col = new Bump();

    background = PIXI.Sprite.from('./assets/gameAssets/Background.jpg')
    pad = PIXI.Sprite.from('./assets/gameAssets/pad.png')
    AIpad = PIXI.Sprite.from('./assets/gameAssets/pad.png')
    ball = PIXI.Sprite.from('./assets/gameAssets/Ball.png')
    ball.x = window.innerWidth / 2
    ball.y = window.innerHeight / 2
    ball.circular=true
    AIpad.x = window.innerWidth/2
    AIpad.y =0
    pad.y = window.innerHeight - 120
    pad.x = 100
    app.stage.addChild(background)
    app.stage.addChild(AIpad)
    app.stage.addChild(pad)
    app.stage.addChild(ball)
    app.ticker.add(gameLoop)
    xChange = 5
    yChange = 5
    
    function guessballLocation(x,y){

    }
    var mouse = app.renderer.plugins.interaction.mouse.global;

    function gameLoop(delta) {
      AIpad.x=ball.x-AIpad.width/2
      padcollided=col.rectangleCollision(ball,pad)
      aipadcollided=col.rectangleCollision(ball,AIpad)
      if (padcollided !=undefined) {
        console.log(padcollided)
        if(padcollided[0]=="l"){
          xChange = -xChange
        }
        else if( padcollided[0]=="r"){
          yChange = Math.abs(yChange)
        }
        else if( padcollided[0]=="b"){
          yChange = -yChange
        }

      }

      if (aipadcollided !=undefined) {
        console.log(aipadcollided)
        if(aipadcollided[0]=="l"){
          xChange = -xChange
        }
        else if( aipadcollided[0]=="r"){
          yChange = Math.abs(yChange)
        }
        else if( aipadcollided[0]=="t"){
          yChange = Math.abs(yChange)
        }

      }
    MouseX = mouse.x
     pad.x = MouseX

    //  ball.x=MouseX
      //ball.y=mouse.y  //testing
      if (ball.x > window.innerWidth - 60) {
        xChange = -xChange;
      }
      if (ball.x < 15) {
        xChange = Math.abs(xChange);
      }
      if (ball.y > window.innerHeight) {
        yChange = -yChange
      }
      if (ball.y < 15) {
        yChange = Math.abs(yChange)
      }
      r = ball.x;
      b = ball.y;
      ball.y += yChange;
      ball.x = ball.x + xChange;



    }


    document.addEventListener('keydown', () => {

    });
    window.addEventListener('resize', resize);

    // Resize function window
    function resize() {
      // Resize the renderer
      app.renderer.resize(window.innerWidth, window.innerHeight);

    }

    resize();
  </script>
</body>

</html>